  <div class="box-body">
  <%= simple_form_for @dog, class: "form-horizontal" do |f| %>

    <% if dog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(dog.errors.count, "error") %> errors :</h2>
        <ul>
        <% dog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
        <label for="dog_breed_id">Email address</label>
        <%= f.association :breed , label_method: :name, value_method: :id, collection: Breed.order(:name), input_html: { class: 'form-control' }, prompt: "Choice a breed", label: false%>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Birthday</label>
        <%= f.input :birthday, input_html: { class: 'form-control' }, label: false%>
      </div>

      <div class="form-group">
        <label for="dog_name">Name</label>
        <%= f.input :name ,as: :string, input_html: { class: 'form-control' }, label: false%>
      </div>

      <div class="form-group">
        <label for="dog_owner_name">Owner's Name</label>
        <%= f.input :owner_name ,as: :string, input_html: { class: 'form-control' }, label: false%>
      </div>

      <div class="form-group">
        <label for="dog_owner_fone">Owner's Fone</label>
        <%= f.input :owner_fone ,as: :string, input_html: { class: 'form-control' }, label: false%>
      </div>


      <div class="form-group">
        <label for="dog_genre">Genre</label>
        <%= f.input :genre, as: :select, collection: [ "Female", "Male" ], input_html: { class: 'form-control' }, label: false%>
      </div>

      <div class="checkbox">
        <label>
          <%= f.input :castrated, as: :boolean, class:"form-control"%>
        </label>
      </div>

      <div class="row">
        <%= f.submit 'Add' , :class => 'btn btn-primary btn-sm'%>
      </div>
        
  <% end %>
</div>

