<%= simple_form_for(dog, html: { class: "form-horizonta"} ) do |f| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> errors :</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box-body">

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.association :breed , label_method: :name, value_method: :id, collection: Breed.order(:name), prompt: "Choice a breed"%>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :genre,'Genre' %>
        <%= f.select :genre, [ "Female", "Male" ],prompt: "Select a genre" ,class:"form-control"%>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :castrated ,'Castrated'%>

        <%= f.check_box :castrated %>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :birthday ,'Birthday'%>
        <%= f.date_select :birthday ,class:"form-control"%>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :name ,'Name'%>
        <%= f.text_field :name ,as: :string%>
      </div>     
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :owner_name ,'Owner s name'%>
        <%= f.text_field :owner_name ,as: :string%>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= f.label :owner_fone ,'Owner fone'%>
        <%= f.text_field :owner_fone ,as: :string%>
      </div>
      
    </div>


    <div class="row">
      <%= f.submit 'Add' , :class => 'btn btn-primary btn-sm'%>
    </div>
      

<% end %>
</div>