<%= form_for(dog, html: { class: "form-horizonta"} ) do |f| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class="col-md-8">

  <div class="form-group">
    <%= f.label :breed ,'Raça'%>
    <%= f.text_field :breed ,{ class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= f.label :genre,'Gênero' %>
    <%= f.select :genre, [ "Fêmea", "Macho" ],prompt: "Selecione o gênero" ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :castrated ,'Castrado'%>

    <%= f.check_box :castrated %>
  </div>

  <div class="form-group">
    <%= f.label :birthday ,'Data de Nascimento'%>
    <%= f.date_select :birthday ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :name ,'Nome'%>
    <%= f.text_field :name ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :owner_name %>
    <%= f.text_field :owner_name ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :owner_fone ,'Telefone do Dono'%>
    <%= f.text_field :owner_fone ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :last_date ,'Última visita'%>
    <%= f.date_select :last_date ,class:"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit 'Adicionar' , :class => 'btn btn-primary btn-sm'%>
  </div>


<% end %>
</div>
</div>