<p id="notice"><%= notice %></p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @dog.genre %>
</p>

<p>
  <strong>Castrated:</strong>
  <%= @dog.castrated %>
</p>

<p>
  <strong>:</strong>
  <%= @dog. %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @dog.birthday %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @dog.owner_name %>
</p>

<p>
  <strong>Owner fone:</strong>
  <%= @dog.owner_fone %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @dog.last_date %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
