<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row">

<div class="col-md-2">
  
<pre>

    <p>
      <strong>Breed:</strong>
      <%= @dog.breed.name if @dog.breed.present? %>
    </p>
</pre>


</div>


<div class="col-md-2">
  
<pre>

    <p>
      <strong>Genre:</strong>
      <%= @dog.genre %>
    </p>

</pre>


<pre>

    <p>
      <strong>Castrated ?:</strong>
      
    <%if @dog.castrated == true%>
               Yes

        <%else%> 

             No 

    <% end %>
    </p>

    </pre>

</div>


<div class="col-md-2">
  
<pre>
  
    <p>
      <strong>Birthday:</strong>
      <%= @dog.birthday %>
    </p>
</pre>

<pre>

    <p>
      <strong>Name:</strong>
      <%= @dog.name %>
    </p>
</pre>

</div>

<div class="col-md-3">
<pre>
  
    <p>
      <strong>Owner's name:</strong>
      <%= @dog.owner_name %>
    </p>

</pre>

<pre>

    <p>
      <strong>Owner's fone:</strong>
      <%= @dog.owner_fone %>
    </p>
</pre>



</div>

<div class="col-md-1">

    <%= link_to 'Edit', edit_dog_path(@dog) ,:class => 'btn btn-warning'%> <strong>Or</strong>

    <%= link_to 'Back', dogs_path ,:class => 'btn btn-info'%>
</div>


  </div>
</div>
