<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row">

<div class="col-md-2">
  
<pre>

    <p>
      <strong>Raça:</strong>
      <%= @dog.breed %>
    </p>
</pre>

<pre>

    <p>
      <strong>Última visita:</strong>
      <%= @dog.last_date %>
    </p>
</pre>
</div>


<div class="col-md-2">
  
<pre>

    <p>
      <strong>Gênero:</strong>
      <%= @dog.genre %>
    </p>

</pre>


<pre>

    <p>
      <strong>Castrado ?:</strong>
      
    <%if @dog.castrated == true%>
               Sim

        <%else%> 

             Não 

    <% end %>
    </p>

    </pre>

</div>


<div class="col-md-2">
  
<pre>
  
    <p>
      <strong>Nascimento:</strong>
      <%= @dog.birthday %>
    </p>
</pre>

<pre>

    <p>
      <strong>Nome:</strong>
      <%= @dog.name %>
    </p>
</pre>

</div>

<div class="col-md-3">
<pre>
  
    <p>
      <strong>Nome do dono:</strong>
      <%= @dog.owner_name %>
    </p>

</pre>

<pre>

    <p>
      <strong>Telefone do dono:</strong>
      <%= @dog.owner_fone %>
    </p>
</pre>



</div>

<div class="col-md-1">

    <%= link_to 'Editar', edit_dog_path(@dog) ,:class => 'btn btn-warning'%> <strong>Ou</strong>

    <%= link_to 'Voltar', dogs_path ,:class => 'btn btn-info'%>
</div>


  </div>
</div>
