<%= form_for(breed) do |f| %>
  <% if breed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breed.errors.count, "error") %> prohibited this breed from being saved:</h2>

      <ul>
      <% breed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :characteristics %>
    <%= f.text_area :characteristics %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
