<%= form_for(breed, html: { class: "form-horizonta"} ) do |f| %>
  <% if breed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breed.errors.count, "error") %> prohibited this breed from being saved:</h2>

      <ul>
      <% breed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-8">

  <div class="form-group">
    <%= f.label :name ,'Name'%>
    <%= f.text_field :name ,{ class: 'form-control' }%>
  </div>


  <div class="form-group">
    <%= f.label :characteristics ,'Characteristics'%>
    <%= f.text_field :characteristics ,{ class: 'form-control' }%>
  </div>

  <div class="actions">
    <%= f.submit 'Add' , :class => 'btn btn-primary btn-sm'%>
  </div>

<% end %>

</div>
</div>