<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div class="row">
<pre>
  <strong>Name:</strong>
  <%= @breed.name %>
</pre>

<pre>
  <strong>Characteristics:</strong>
  <%= @breed.characteristics %>
</pre>

<%= link_to 'Edit', edit_breed_path(@breed),:class => 'btn btn-warning' %> |
<%= link_to 'Back', breeds_path ,:class => 'btn btn-info'%>
</div>
</div>