<!DOCTYPE html>
<html>
  <head>
    <title>PetshopKrypto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

<body class="hold-transition skin-purple-light sidebar-mini sidebar-collapse">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <%= link_to root_path, title: "Krypto Pet Shop", class: "logo" do %>
      <%= image_tag "krypto.jpg", title: "Krypto Pet Shop", style:"width: 28px;" %>
      Krypto Pet Shop
    <% end %>  

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Navegação</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <% if current_user.present?%>
            <b><%= current_user.email%><b>
            <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "btn btn-danger" %>
          <%end%>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
      	<li class="header">Main Menu</li>

          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i><span>Main page</span>
            <% end %>
          </li>


             <li>
            <%= link_to dogs_path do %>
              <i class="fa fa-star-o"></i><span>List of dogs</span>
            <% end %>
          </li>

             <li>
            <%= link_to new_dog_path do %>
              <i class="fa fa-university"></i><span>New dog</span>
            <% end %>
          </li>

          <li>
            <%= link_to breeds_path do %>
              <i class="fa fa-arrows"></i><span>List of breeds</span>
            <% end %>
          </li>

       </ul>
   	</section>
	</aside>

	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Krypto Petshop
        <small>A pet shop worthy of your superDog.</small>
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-lg-12">
              <%= yield %>
          </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>


</div>
</body>
</html>
